@charset "UTF-8";

/* all(font) */
* {
	font-family: 'Noto Sans KR', sans-serif;
}

/* common */
a:hover {
	text-decoration: none
}

.container {
	padding: 0px;
}

.carousel-caption {
	bottom: 0px;
	color: black;
	font-weight: bold;
}

.fa-angle-left, .fa-angle-right {
	color: black;
	width: 20px !important;
	height: 20px !important;
}

.form-inline > a {
	height: 170px;
	
}

.card-body {
	padding: 5px;
	height: 170px !important;
}

div.card-body > p {
	position: relative;
	left: -6px;
	width: 128px;
	margin-top: 119px;
	border-left: 1px solid rgb(223, 223, 223);
	border-bottom: 1px solid rgb(223, 223, 223);
	border-right: 1px solid rgb(223, 223, 223);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	text-align: center;
	font-size: 15px;
}

#product-list-div {
	width: 128px;
	height: 128px;
	margin-bottom: 0px !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#product-list-div > img {
	position: absolute;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.list-group-item {
	border: none;
	font-weight: bold;
}

ul.sel {
	align-items: center;
	justify-content: space-between;
}

li.sel {
	padding: 10px 10px 10px 0px !important;
}

.list-group-item > a {
	border: none;
	font-weight: 500;
	color: black;
}

.btn-light {
	border: none;
	background-color: rgb(238, 238, 238);
}

span.badge-primary {
	position: relative;
	top: -5%;
}

#team-header {
	border-bottom: 1px solid rgb(206, 212, 218);
}

#team-header, #div-white {
	background-color: white;
}

body, #team-footer {
	background-color: rgb(238, 238, 238);
}

.container, #team-header-above, #team-header-below, #team-footer {
	width: 720px;
}

#dropdown-menu {
	text-align: center;
}

#div-white-wrapper {
	padding: 20px;
}

/* navbar.tag */
#navbar-search {
	margin-top: 3px;
}

#search-rank {
	position: absolute;
	top: 97%;
	width: 191px;
	border: 1px solid rgb(206, 212, 218);
	border-radius: 0 0 15px 15px;
	background-color: white;
	/* 객체가 겹치는 경우 z-index 값을 조절하여 우선순위를 정함(높을수록 앞에 나옴) */
	z-index: 1;
}

#search-rank-list {
	position: relative;
}

#search-rank-list-keyword1,
#search-rank-list-keyword2,
#search-rank-list-keyword3,
#search-rank-list-keyword4,
#search-rank-list-keyword5 {
	color: black;
}

#nav-divider {
	margin-top: 7px;
	color: rgb(200, 200, 200);
}

#login-btn, #charge-btn {
	margin-top: 7px;
	font-weight: bold;
	font-size: 17px;
}

#login-btn-link, #charge-btn-link {
	color: rgb(160, 160, 160);
}

#nav-home-underline.active,
#nav-webtoon-underline.active,
#nav-webnovel-underline.active,
#nav-book-underline.active,
#nav-board-underline.active,
#nav-help-underline.active {
	background-color: white;
	border-bottom: 2px solid #007bff;
	position: relative;
	top: -10px;
}

.nav-item {
	height: 41px;
}

.nav-item > a.nav-link {
	font-weight: bold;
	font-size: 17px;
}

#navbar-search-input:focus {
	box-shadow: none;
	border-color: rgb(206, 212, 218);
}

#navbar-search-input {
	border-radius: 25px 0 0 25px;
	border-right: none;
	width: 150px;
	height: 33px;
}

#navbar-search-icon {
	border-radius: 0 25px 25px 0;
	border-left: none;
	background-color: white;
	height: 33px;
}

#dropdownMenuIcon {
	color: rgb(100, 100, 100);
	width: 30px;
	height: 30px;
	margin-top: 4px;
}

#main-logo {
	width: 100px;
	height: 60px;
}

/* navbar1.tag */
#navbar-btn {
	width: 0%;
}

.navbar-back-btn {
	float: left;
}

#navbar-product {
	display: flex;
	align-items: center;
}

#navbar-product-name {
	float: left;
}

/* main.jsp, [book, webtoon, webnovel] list.jsp */
#carousel-product, .carousel-inner, #carousel-item {
	width: 720px;
	height: 450px;
	overflow: hidden;
	background-color: white;
}

.carousel-inner > #carousel-item > a > img {
	position: absolute;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* [book, webtoon, webnovel] get.jsp */
#img-get {
	width: 130px;
	height: 160px;
	border-radius: 5px;
}

#div-get {
	width: 131px;
	height: 161px;
}

#reply-lists {
	font-size: 20px;
}

#div-get-detail {
	width: 541px;
	height: 161px;
}

#div-get-detail-pname, #div-get-detail-likecomment, #div-get-detail-wname {
	font-weight: bold;
}

#div-get-detail-pname {
	font-size: 19px;
	margin-bottom: 10px;
}

#div-get-detail-likecomment {
	font-size: 13px;
	margin-bottom: 46px;
}

#get-price {
	padding-top: 4px;
}

#div-get-detail-wname {
	color: rgb(162, 164, 162);
}

#div-get-detail-bottom {
	display: flex;
	justify-content: space-between;
}

/* [book, webtoon, webnovel] detail.jsp */
#detail-img {
	width: 720px;
}

/* [member] login.jsp */
#div-login {
	width: 360px;
	margin: 0 auto;
}

#login-input1, #login-input2 {
	height: 50px;
}

.login-left {
	margin-right: 107px !important;
}

.login-right-id {
	padding: 0px;
	width: 100px;
}

#login-divider {
	position: relative;
	top: -1px;
	left: -18px;
}

.login-right-pw {
	position: relative;
	left: -20px;
	padding: 0px;
	width: 90px;
}

/* [member] info.jsp */
#div-info {
	width: 360px;
	margin: 0 auto;
}

/* [member] signup.jsp */
#div-signup {
	width: 360px;
	margin: 0 auto;
}

/* [member] findid.jsp */
#div-findid {
	width: 360px;
	margin: 0 auto;
}

/* [member] findpw.jsp */
#div-findpw {
	width: 360px;
	margin: 0 auto;
}




