<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.team.mapper.help.HelpMapper">

	<sql id="criteria">
		<where>
			<foreach item="type" separator="OR" collection="typeArr">
				<choose>
					<when test='type == "T"'>
						q.htitle LIKE CONCAT('%', #{keyword}, '%')
					</when>
					<when test='type == "W"'>
						m.username LIKE CONCAT('%', #{keyword}, '%')
					</when>
				</choose>
			</foreach>
		</where>
	</sql>
  
  <select id="getList" resultType="org.team.domain.help.HelpVO">
    
    <![CDATA[ 
    SELECT 
    	hno hno,
    	hitle htitle,
    	hcontent hcontent,
    	hwriter hwriter,
    	hregdate hregdate,  
    	 
    FROM tbl_qna
    
    WHERE bno > 0 ORDER BY bno DESC
  
    ]]>
     
  </select>
  
  <select id="getListWithPaging" resultType="org.team.domain.help.HelpVO">
    
     
    SELECT 
    	q.hno hno,
    	q.htitle htitle,
    	q.hcontent hcontent,
    	q.hwriter hwriter,
    	q.hregdate hregdate,  
    	m.username writerName,
    	count(rno1) replyCnt
    FROM tbl_qna q LEFT JOIN tbl_qna_reply qr ON q.hno = qr.hno
    					  INNER JOIN tbl_member m ON q.writer1 = m.userid
	<include refid="criteria"></include>
	GROUP BY q.hno    
    ORDER BY q.hno DESC
    LIMIT #{from}, #{amount}

  </select>
  
  <select id="getTotalCount" resultType="int">
  SELECT COUNT(*) FROM tbl_qna q JOIN tbl_member m
  ON q.hwriter = m.userid
  <include refid="criteria"></include>
  </select>
  
  <insert id="insert">
  	INSERT INTO tbl_qna (htitle, hcontent, hwriter)
  	VALUES (#{htitle}, #{hcontent}, #{hwriter}) <!-- get get  -->
  </insert>
  
  <insert id="insertSelectKey" useGeneratedKeys="true" keyProperty="hno" keyColumn="hno">
  	INSERT INTO tbl_qna (htitle, hcontent, hwriter)
  	VALUES (#{htitle}, #{hcontent}, #{hwriter})
  </insert>
  
  <select id="read" resultType="org.team.domain.help.HelpVO">
  	SELECT 
  	 q.hno hno,
  	 q.htitle htitle,
  	 q.hcontent hcontent, 
  	 q.hwriter hwriter,
  	 q.hregdate hregdate,
  	 f.fileName fileName,
  	 m.userName writerName<!--  -->
  	FROM tbl_qna q LEFT JOIN tbl_help_file f ON q.hno = f.hno
  						  JOIN tbl_member m ON q.hwriter = m.userid <!--  -->
  	WHERE q.hno = #{hno}
  </select>
  
  <delete id="delete">
  	DELETE FROM tbl_qna WHERE hno = #{hno}
  </delete>
  
  <update id="update">
  	UPDATE tbl_qna
  	
  	SET
  		htitle = #{htitle},
  		hcontent = #{hcontent},
  		hwriter = #{hwriter},
  	
  	WHERE
  		hno = #{hno}

  </update>
  
  <delete id="removeByUserid">
  DELETE FROM tbl_qna
  WHERE hwriter = #{userid}
  </delete>

</mapper>