<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.team.mapper.member.MemberMapper">

	<select id="read2" parameterType="String" resultType="org.team.domain.member.MemberVO">
		SELECT
			userid userid,
			userName username,
			usermail usermail
		FROM
			tbl_member
		WHERE
			username = #{username} AND usermail = #{usermail}
	</select>
	
	<select id="read3" parameterType="String" resultType="org.team.domain.member.MemberVO">
		SELECT
			userid userid,
			userpw userpw,
			userName username,
			usermail usermail
		FROM
			tbl_member
		WHERE
			userid = #{userid} AND username = #{username} AND usermail = #{usermail}
	</select>
	
	<select id="readMoney" resultType="org.team.domain.member.MemberVO">
		SELECT money FROM tbl_member
		WHERE userid = #{user_id}
	</select>
	
	<update id="buyProduct">
		UPDATE tbl_member
		SET money = money - #{price}
		WHERE userid = #{user_id}
	</update>
	
	<update id="setPw">
		UPDATE tbl_member
		SET userpw = #{pw}
		WHERE userid = #{userid}
	</update>
	
	<delete id="removeAuth">
		DELETE FROM tbl_member_auth
		WHERE userid = #{userid}
	</delete>

	<delete id="remove">
		DELETE FROM tbl_member
		WHERE userid = #{userid}
	</delete>

	<update id="update">
		UPDATE tbl_member
		SET userpw = #{userpw},
		userName = #{userName},
		updatedate = now()
		WHERE
		userid = #{userid}

	</update>

	<insert id="insert">
		INSERT INTO tbl_member
		(userid, userpw, username, usermail)
		VALUES
		(#{userid}, #{userpw}, #{userName}, #{usermail})
	</insert>

	<insert id="insertAuth">
		INSERT INTO tbl_member_auth
		(userid, auth)
		VALUES
		(#{userid}, #{auth})
	</insert>

	<select id="read" resultMap="memberMap">
		SELECT
		m.userid userid,
		m.userpw userpw,
		m.username username,
		m.enabled enabled,
		m.regdate regdate,
		m.updateDate updateDate,
		m.usermail usermail,
		m.money money,
		a.auth auth
		FROM
		tbl_member m LEFT JOIN tbl_member_auth a ON m.userid = a.userid
		WHERE
		m.userid = #{userid}

	</select>

	<!-- 책 662쪽 -->
	<resultMap type="org.team.domain.member.MemberVO"
		id="memberMap">
		<id property="userid" column="userid" />
		<result property="userpw" column="userpw" />
		<result property="usermail" column="usermail" />
		<result property="userName" column="username" />
		<result property="regdate" column="regdate" />
		<result property="updateDate" column="updateDate" />
		<result property="enabled" column="enabled" />
		<result property="money" column="money" />
		<collection property="authList" resultMap="authMap" />
	</resultMap>
	<resultMap type="org.team.domain.member.AuthVO" id="authMap">
		<result property="userid" column="userid" />
		<result property="auth" column="auth" />
	</resultMap>

</mapper>
	