<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.team.mapper.product.LikeMapper">

	<select id="read" resultType="org.team.domain.product.ProductLikeVO">
		SELECT
			l.id id,
		    l.product_id, product_id,
		    l.user_id, user_id,
		    l.check_like check_like
		
		FROM tbl_product_like l JOIN tbl_product p ON l.product_id = p.id
		
		WHERE l.id = #{id};
	</select>

</mapper>