<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.team.mapper.product.WebtoonMapper">

	<select id="getList" resultType="org.team.domain.product.ProductVO">
		SELECT
			p.id id,
		    p.product_category product_category,
		    p.product_genre product_genre,
		    p.product_name product_name,
		    p.writer_name writer_name,
		    p.register_date register_date,
		    p.update_date update_date,
		    c.file_name file_name
		
		FROM tbl_product p JOIN tbl_product_cover c ON p.id = c.product_id
		
		WHERE product_category = 1
		
		ORDER BY id DESC
	</select>
	
	<select id="getRank" resultType="org.team.domain.product.ProductVO">
		SELECT
			p.id id,
		    p.product_category product_category,
		    p.product_genre product_genre,
		    p.product_name product_name,
		    p.writer_name writer_name,
		    p.register_date register_date,
		    p.update_date update_date,
		    p.view_cnt view_cnt,
		    c.file_name file_name
		
		FROM tbl_product p JOIN tbl_product_cover c ON p.id = c.product_id
		
		WHERE p.product_category = 1
		
		ORDER BY p.view_cnt DESC
		
		LIMIT 0, 5
	</select>
	
	<select id="getCnt" resultType="String">
		SELECT COUNT(id) cnt FROM tbl_product
		WHERE product_category = 1
	</select>
	
	<select id="getToday" resultType="org.team.domain.product.ProductVO">
	<![CDATA[
		SELECT
			p.id id,
		    p.product_category product_category,
		    p.product_genre product_genre,
		    p.product_name product_name,
		    p.writer_name writer_name,
		    p.register_date register_date,
		    p.update_date update_date,
		    (SELECT COUNT(id) FROM tbl_product) cnt,
		    c.file_name file_name
		
		FROM tbl_product p JOIN tbl_product_cover c ON p.id = c.product_id
		
		WHERE p.product_category = 1 AND p.register_date >= CURDATE()
		
		ORDER BY id DESC
	]]>
	</select>
	
	<select id="getTodayCnt" resultType="String">
		SELECT COUNT(id) cnt FROM tbl_product
		WHERE product_category = 1 AND register_date >= CURDATE()
	</select>
	
	<select id="get" resultType="org.team.domain.product.ProductVO">
		SELECT
			p.id id,
		    p.product_category product_category,
		    p.product_genre product_genre,
		    p.product_name product_name,
		    p.writer_name writer_name,
		    p.product_price product_price,
		    p.register_date register_date,
		    p.update_date update_date,
		    p.like_cnt like_cnt,
		    p.view_cnt view_cnt,
		    c.file_name file_name,
		    (SELECT COUNT(r.product_id) FROM tbl_product_reply r JOIN tbl_product p ON p.id = r.product_id WHERE p.id = #{id}) reply_cnt
		
		FROM tbl_product p JOIN tbl_product_cover c ON p.id = c.product_id
		
		WHERE p.id = #{id}
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO tbl_product (product_category, product_genre, product_name, writer_name, product_price)
		VALUES (#{product_category}, #{product_genre}, #{product_name}, #{writer_name}, #{product_price})
	</insert>
	
	<select id="readCover" resultType="org.team.domain.product.ProductVO">
		SELECT
			p.id id,
		    p.product_category product_category,
		    p.product_genre product_genre,
		    p.product_name product_name,
		    p.writer_name writer_name,
		    p.register_date register_date,
		    p.update_date update_date,
		    c.file_name file_name
		
		FROM tbl_product p JOIN tbl_product_cover c ON p.id = c.product_id
		
		WHERE p.id = #{id}
	</select>
	
	<select id="readFile" resultType="org.team.domain.product.ProductVO">
		SELECT
			p.id id,
		    p.product_category product_category,
		    p.product_genre product_genre,
		    p.product_name product_name,
		    p.writer_name writer_name,
		    p.register_date register_date,
		    p.update_date update_date,
		    f.file_name file_name,
		    (SELECT COUNT(r.product_id) FROM tbl_product_detail_reply r JOIN tbl_product p ON p.id = r.product_id WHERE p.id = #{id}) reply_cnt
		
		FROM tbl_product p JOIN tbl_product_file f ON p.id = f.product_id
		
		WHERE p.id = #{id}
	</select>
	
	<update id="plusCnt">
		UPDATE tbl_product
		
		SET
			view_cnt = view_cnt + 1
			
		WHERE id = #{id}
	</update>
	
	<update id="update">
		UPDATE tbl_product
		
		SET
			product_category  = #{product_category},
		    product_genre = #{product_genre},
		    product_name = #{product_name},
		    writer_name = #{writer_name},
		    update_date = NOW()
		    
		WHERE id = #{id}
	</update>
	
	<delete id="remove">
		DELETE FROM tbl_product
		WHERE id = #{id}
	</delete>
	
</mapper>