<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.team.mapper.main.MainMapper">

	<select id="getList" resultType="org.team.domain.product.ProductVO">
		SELECT
			p.id id,
		    p.product_category product_category,
		    p.product_genre product_genre,
		    p.product_name product_name,
		    p.writer_name writer_name,
		    p.register_date register_date,
		    p.update_date update_date,
		    c.file_name file_name
		
		FROM tbl_product p JOIN tbl_product_cover c ON p.id = c.product_id
		
		ORDER BY id DESC
	</select>
	
	<select id="getRank" resultType="org.team.domain.product.ProductVO">
		SELECT
			p.id id,
		    p.product_category product_category,
		    p.product_genre product_genre,
		    p.product_name product_name,
		    p.writer_name writer_name,
		    p.register_date register_date,
		    p.update_date update_date,
		    p.view_cnt view_cnt,
		    c.file_name file_name
		
		FROM tbl_product p JOIN tbl_product_cover c ON p.id = c.product_id
		
		ORDER BY p.view_cnt DESC
		
		LIMIT 0, 5
	</select>
	
</mapper>